/*:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

@import "tailwindcss";
/*@font-face {
   font-family: 'PPMori';
   src: url('./fonts/PPMori-Regular.otf') format('otf'),
        url('./fonts/PPMori-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'PPMori';
   src: url('./fonts/PPMori-Extralight.otf') format('otf'),
        url('./fonts/PPMori-Extralight.woff') format('woff');
   font-weight: 100;
   font-style: normal;
}
@font-face {
   font-family: 'PPMori';
   src: url('./fonts/PPMori-SemiBold.otf') format('otf'),
        url('./fonts/PPMori-SemiBold.woff') format('woff');
   font-weight: 600;
   font-style: normal;
}*/

body {
  margin: 0;
  padding: 0;
  font-family: 'PPMori';
  font-weight: 100;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #121212;
    background-color: #ffffff;
  }
}

.about-carousel {
  .carousel__next,
  .carousel__prev {
    inset-block-start: auto;
    inset-block-end: -4rem;
    transform: none;
  }
  .carousel__prev {
    inset-inline-start: 50%;
    transform: translateX(-110%);
  }
  .carousel__next{
    inset-inline-end: 50%;
    transform: translateX(110%);
  }
}

.sector-carousel {
  .carousel__next,
  .carousel__prev {
    inset-block-start: -4rem;
  }
  .carousel__prev {
    inset-inline-start: auto;
    inset-inline-end: 4rem;
  }
  .carousel__next{
    /*inset-inline-end: auto;*/
  }
}


.services-carousel {
  .carousel__next,
  .carousel__prev {
    inset-block-start: calc(100% + 2rem);
    transform: none;
  }
  .carousel__prev {
    
  }
  .carousel__next{
    inset-inline-end: calc(100% - 8rem);
  }
}