/*:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: 'PPMori';
  font-weight: 100;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #121212;
    background-color: #ffffff;
  }
}

.about-carousel {
  .carousel__next,
  .carousel__prev {
    inset-block-start: auto;
    inset-block-end: -4rem;
    transform: none;
  }
  .carousel__prev {
    inset-inline-start: 50%;
    transform: translateX(-110%);
  }
  .carousel__next{
    inset-inline-end: 50%;
    transform: translateX(110%);
  }

}

.sector-carousel,
.blog-carousel {
  .carousel__next,
  .carousel__prev {
    inset-block-start: calc(100% + 3rem);
  }
  .carousel__prev {
    inset-inline-start: 0;
    inset-inline-end: auto;
  }
  .carousel__next{
    inset-inline-start: 4rem;
    inset-inline-end: auto;
  }
}

.services-carousel {
  .carousel__next,
  .carousel__prev {
    inset-block-start: calc(100% + 2rem);
    transform: none;
  }
  .carousel__prev {
    
  }
  .carousel__next{
    inset-inline-end: calc(100% - 8rem);
  }
}

.ministry {
    .carousel__slide { opacity: 0.5; }
    .carousel__slide--active { opacity: 1; }
}

@media screen and (width >= 64rem) {
  .sector-carousel,
  .blog-carousel {
    /*padding-bottom: 0;*/
    .carousel__next,
    .carousel__prev {
      inset-block-start: -4rem;
    }
    .carousel__prev {
      inset-inline-start: auto;
      inset-inline-end: 4rem;
    }
    .carousel__next{
      inset-inline-start: calc(100% - 3rem);
      inset-inline-end: 100%;
    }
    .carousel__pagination {
      display: none;
    }
  }
}

.solutions-hd {
  h2 { 
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  h3 { 
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  h4 { 
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.42px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  p { margin-bottom: 1rem;}
  ul {
    list-style-type: disc;
    margin: 0.5rem 0.5rem 0.5rem 1.5rem;
    padding-left: 1rem;
  }
  ol {
    list-style-type: decimal;
    margin: 0.5rem 0.5rem 0.5rem 1.5rem;
    padding-left: 1rem;
  }
  li {
    margin-bottom: 0.5rem;
  }

  a {
      color: #171EEC;
      text-decoration: underline;
  }
}

@media screen and (width <64rem){
  .carousel {
    --vc-png-bottom: -1rem;
    --vc-pgn-width: 12px;
    --vc-pgn-height: 2px;
    --vc-pgn-background-color: #d9d9d9;
    --vc-pgn-active-color: #d9d9d9;
    --vc-pgn-gap: 10px;
    --vc-pgn-border-radius: 2px;

    --vc-nav-background: rgba(0, 0, 0, 0);
    --vc-nav-color: white;
    --vc-nav-color-hover: #e5e5e5;
    --vc-nav-border-radius: 50%;
    --vc-nav-width: 40px;
    --vc-nav-height: 40px;

    .carousel__pagination-button { width: 12px; transition: width 300ms ease-out; }
    .carousel__pagination-button--active { width: 24px; }

  
    .carousel__next,
    .carousel__prev {
      display: none;
      visibility: hidden;
    }
  }

}