@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin text-primary-gradient {
  background: linear-gradient(117deg, #2033D5 20.48%, #4E6CFE 123.16%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin text-secondary-gradient {
  background: linear-gradient(98deg, #171EEC 7.56%, #7000D9 93.65%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

