$primary1: #171EEC;
$primary2: #7000D9;

$grey1: #f6f6f6;
$grey2: #D1D1D1;
$grey-cf: #CFCFCF;
$grey3: #A0A0A0;

$border1: #D7D7D7;

$rich-black: #121212;
$grey-text: #5F5F5F;

$olive: #6D8028;
$olive2: #DDFF95;