@font-face {
    font-family: 'PPMori';
    src: url('/fonts/PPMori-Regular.otf') format('otf'),
        url('/fonts/PPMori-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PPMori';
    src: url('/fonts/PPMori-Extralight.otf') format('otf'),
        url('/fonts/PPMori-Extralight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PPMori';
    src: url('/fonts/PPMori-SemiBold.otf') format('otf'),
        url('/fonts/PPMori-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 55px;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    letter-spacing: -0.5px;
    transition: all;

    &:hover {
        /*mix-blend-mode: lighten;*/

    }

    &-fill {
        background-color: #fff;
        color: $rich-black;
    }

    &-outline {
        border-color: #2033D5;
        background-color: transparent;
        color: $rich-black;

        &:hover {
            @include text-primary-gradient;
            color: #fff;
        }
    }

    &-white-outline {
        border-color: #fff;
        background-color: transparent;
        color: #fff;
    }

    &-dark {
        background-color: $rich-black;
        border-color: $rich-black;
        color: #fff;

        &:hover {
            background-color: color.adjust($rich-black, $lightness: 10%);
        }
    }

    @media screen and (width >=64rem) {
        padding: 6px 24px;
        font-size: 1rem;
        line-height: 30px;

    }
}

form,
.form {}

.field-wrapper {
    position: relative;
    margin-bottom: 2rem;

    input,
    textarea {
        width: 100%;
        padding-top: 2rem;
        border-bottom: 1px solid $border1;
        font-size: 24px;

        &:focus,
        &:not([value=""]) {
            border-color: $olive;

            ~label {
                color: $grey3;
                top: 0;
            }
        }

    }

    label {
        color: $grey-text;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.42px;
        position: absolute;
        top: 25%;
        left: 0;
        pointer-events: none;
        transition: all 300ms ease-out;
    }

    @media screen and (width >=64rem) {
        label {
            font-size: 24px;
            font-style: normal;
            font-weight: 100;
            line-height: 38px;
            letter-spacing: -0.72px;
        }
    }
}

.checkbox,
.radio {

    input {
        width: 28px;
        height: 28px;
        border-color: $grey3;
    }

    label {
        color: $grey-text;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.48px;
        display: inline-flex;
        align-items: center;
        gap: 1rem;
    }
}

.loading {
    color: gray;

    .spinner {}

    p {
        color: gray;
    }
}

.blog-content {
    color: $rich-black;
    font-size: 16px;
    font-weight: 400;
    h2 {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.25;
        margin-top: 1.25rem;
        margin-bottom: 1rem;
    }
    p {
        color: $rich-black;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 1rem;
    }
    ul, ol {
        color: $rich-black;
        margin: 1rem 1rem 1rem 1.5rem;

        li {
            margin-bottom: 0.5rem;
        }
    }
    ul {
        list-style: disc outside none;
    }
}